/*-----------
    General
  -----------*/

/* Tags */

html {
	background:#fff;
	font-family:Helvetica, Arial, sans-serif;
	}
body {
	margin:0 auto;
	padding:50px;
	width:600px;
	}

/* IDs */


/* Classes */


/* Fonts */



/*---------------------
    Template Elements
  ---------------------*/

#main {
	clear:both;
	display:block;
	font-family:monospace;
	text-align:center;
	text-transform:uppercase;
}
#main h1 {
	color:#aaa;
	font-size:22px;
	font-weight:100;
	letter-spacing:6px;
	line-height:16px;
}
#main span {
	color:#000;
	font-weight:bold;
}

/*--------------------------
    Page Specific Elements
  --------------------------*/


