/*-----------
    General
  -----------*/

/* Tags */

html {
	background:#fff;
	font-family:Helvetica, Arial, sans-serif;
	}
body {
	margin:0 auto;
	width:960px;
	}

/* IDs */


/* Classes */


/* Fonts */



/*---------------------
    Template Elements
  ---------------------*/

#header {
	clear:both;
	height:100px;
	margin:80px auto 60px;
}
#header #header_text {
	float:left;
	margin-right:30px;
	padding-top:18px;
	text-align:right;
	width:640px;
}
#header #header_text h1 {
	font-size:50px;
	text-transform:uppercase;
	font-weight:100;
}
#header #header_text h1 span { font-weight:bold; }
#header #header_text p {
	color:#ccc;
	font-size:15px;
	font-weight:100;
}
#header #header_image {
	float:left;
	width:100px;
}
.divider {
	border-top:1px solid #ddd;
	clear:both;
	height:1px;
	margin:0 auto;
	width:150px;
}

#main {
	clear:both;
	margin:60px auto 80px;
}
#main ul {
	list-style-type:none;
	margin:65px auto 0;
	text-align:center;
	}
#main ul li {
	display:inline;
	margin:0 15px;
	}

/*--------------------------
    Page Specific Elements
  --------------------------*/


