html { background:#f5f5f5; font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif; }

body {}

#wrapper { margin:0 auto; width:470px; }



#header { margin:70px auto 40px; }
#header img { 
	display:block;
	margin:0 auto 50px; 
	}

#body {}
#body p {
	color:#444; 
	font-size:12pt;
	font-weight:normal; 
	line-height:26pt; 
	margin:0 auto;
	}
#body a:link, a:visited { 
	border-bottom:1px solid #444; 
	color:#444; 
	padding:0 0 1px 0;
	text-decoration:none;
	}
#body a:hover, a:active { 
	border-bottom:none;
	color:#444; 
	padding:0 0 1px 0;
	text-decoration:none;
	}
