html { background:#eee; font-family:Helvetica, Arial, sans-serif; }

body {}

#wrapper { margin:0 auto; width:500px; }

#header { margin:120px auto 50px -5px; }
.title { 
	background:#FF0;
	color:#222; 
	font-size:32px; 
	font-weight:bold; 
	padding:5px 5px 0 5px;
	}

#body p {
	color:#777; 
	font-size:15pt;
	font-weight:0; 
	line-height:22pt; 
	margin:0 auto;
	}

a:link, a:visited { 
	border-bottom:none; 
	color:#222; 
	padding:2px 0 1px 0;
	text-decoration:none;
	}
a:hover, a:active { 
	background:#FF0;
	/*border-bottom:1px dashed #222;*/
	color:#222; 
	padding:2px 0 1px 0;
	text-decoration:none;
	}
